pre-commit:
  image:
    name: artifactory.cloud.cms.gov/batcave-docker/pipeline-tools/precommit:latest
    entrypoint:
      - /bin/bash

  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
  script:
    - git --version
    - git log
    - git status
    - ls -lah
    - pre-commit run --all-files --show-diff-on-failure
  artifacts:
    paths:
      - ${PRE_COMMIT_HOME}